.food-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

h2 {
  color: brown;
  margin: 0;
}

p {
  margin-bottom: 0;
}

.container {
  margin: 16px;
  padding: 16px;
  border-radius: 25px;
  text-align: start;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.333);
}
